<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<div style="text-align: right; margin: 0.25rem 0 0.1rem 0; padding-right: 0.25rem;">
	<div id="clustrmaps-widget" style="display: inline-block; transform: scale(0.55); transform-origin: bottom right;">
		<script type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d=XTXtwukuFYmevtm8f2Fv1Gh655Ke0WwgDgQdaSaXCB8"></script>
		<noscript><a href='https://clustrmaps.com/site/1as8h' title='Visit tracker'><img src='//clustrmaps.com/map_v2.png?cl=ffffff&w=a&t=tt&d=XTXtwukuFYmevtm8f2Fv1Gh655Ke0WwgDgQdaSaXCB8' alt='Visitor map' /></a></noscript>
	</div>
</div>
<!-- end custom footer snippets -->
