{% include base_path %}
{% assign archive_locale = page.lang | default: site.locale %}
{% assign published_label = 'Published in' %}
{% assign citation_label = 'Recommended citation:' %}
{% assign paper_label = 'Download Paper' %}
{% assign slides_label = 'Download Slides' %}
{% assign more_label = 'Read more' %}
{% assign archive_excerpt = post.excerpt %}
{% assign archive_citation = post.citation %}
{% if page.lang == 'zh-CN' %}
  {% assign published_label = '发表信息：' %}
  {% assign citation_label = '参考引用：' %}
  {% assign paper_label = '查看论文' %}
  {% assign slides_label = '查看演示文稿' %}
  {% assign more_label = '阅读更多' %}
  {% assign archive_excerpt = site.data.zh.publication_excerpts[post.permalink] | default: post.excerpt %}
  {% assign archive_citation = post.citation | replace: 'Co-first author', '共同第一作者' %}
{% endif %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>{{ published_label }} <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[archive_locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ archive_excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ archive_excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> {{ more_label }}</a></strong></p></p>
    {% endif %}
    
    {% if post.citation and post.paperurl and post.slidesurl %}
      <p>{{ citation_label }} {{ archive_citation }}<br /><a href="{{ post.paperurl }}">{{ paper_label }}</a> | <a href="{{ post.slidesurl }}">{{ slides_label }}</a></p>
    {% elsif post.citation and post.paperurl %}
      <p>{{ citation_label }} {{ archive_citation }}<br /><a href="{{ post.paperurl }}">{{ paper_label }}</a></p>
    {% elsif post.citation and post.slidesurl %}
      <p>{{ citation_label }} {{ archive_citation }}<br /><a href="{{ post.slidesurl }}">{{ slides_label }}</a></p>
    {% elsif post.citation %}
      <p>{{ citation_label }} {{ archive_citation }}</p>
    {% elsif post.paperurl %}
      <p><a href=" {{ post.paperurl }} ">{{ paper_label }}</a></p>
    {% elsif post.slidesurl %}
      <p><a href="{{ post.slidesurl }}">{{ slides_label }}</a></p>
    {% endif %}

  </article>
</div>
